<% layout("/layouts/boilerplate") %>
<h2 class="col-6 offset-3 mt-4">signup on Airnest</h2>
<div class="row mt-3">
  <div class="col-6 offset-3">
    <form action="/signup" method="POST" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">username</label>
        <input
          type="text"
          name="username"
          placeholder="Enter username"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
        <div class="invalid-feedback">Please enter a valid username</div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label needs-validation" novalidate
          >email</label
        >
        <input
          type="email"
          name="email"
          placeholder="Enter email"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
        <div class="invalid-feedback">Please enter a valid email</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label needs-validation" novalidate
          >password</label
        >
        <input
          type="password"
          name="password"
          placeholder="Enter password"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
        <div class="invalid-feedback">Please enter a valid password</div>
      </div>
      <button class="btn btn-success">signup</button>
    </form>
  </div>
</div>
